.RadioFont {
    font-family:Arial;
}

.radio-flex-options {
    display: flex;
    gap: 20px;
}

.radio-input-section {
    border: solid;
    padding: 10px;
}

.bottom_padding {
    padding: 0px 0px 10px 0px;
}

.input_table {
    background: #9BCBEB;
}

.drop_down_add_table {
    background: #9BCBEB;
    border: solid;
    width: 500px;
    border-collapse: collapse;
}
.td_border {
    background: #9BCBEB;
    border: solid;
    text-align: center;
}

.x_button {

    border: 1px solid;
    background-color: #f0f0f0;
    margin-right: 10px;
}

.input_box_div {
    background: #9BCBEB;
    padding: 4px;
}

.input_header_div {
    background: #9BCBEB;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text_box {
    width: 50%;
}

.no_bullet_ul {
    list-style-type: none; /* Removes bullets */
    padding: 3px 0px 0px 0px; /* Removes default padding */
    margin: 0; /* Removes default margin */
}

#drop-area {
    border: 2px solid #ccc;
    border-radius: 20px;
    width: 300px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    text-align: center;
    color: #555;
}
    #drop-area.highlight {
        border-color: black;
        color: black;
    }

#image-preview {
    margin: 5px;
    height: 200px;
    width: auto;
    display: none;
}

.data_box {
    border: 2px solid;
    padding: 0px 5px 0px 5px;
}