
#statistics {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
    gap: 10px;
}

.stat-card {
    display: flex;
    flex-direction: column;
    align-items: start;

    background: #9BCBEB;
    border: 1px solid black;
    border-radius: 5px;
    padding:10px;
}

.stat-header {
    text-decoration: underline;
    font-size: 1.2rem;
}

.stat-label {
    padding-right: 4px;
}