
.topnav {
    overflow: hidden;
    margin: 4px 0px 8px 4px;
}

.CarDetails {
    border: solid 4px black;
    border-top: 0;
    align-content: center;
}

.ArrowButton {
    height: 19px;
}

table {
    border-collapse: collapse;
    background: white;
    padding: 5px 0px 5px 0px;
}

.searchDiv {
    display: block;
    padding: 10px;
}

.optionTable {
    display: block;
    padding: 5px 0px 5px 0px;
    vertical-align: top;
}

.optionTD {
    vertical-align: top;
    border: solid;
}

.DataDiv {
    width: 100%;
    display: inline-block; /* Inline block for heading */
    background: #666;
}

.FabricHeading {
    font-size: 25px;
    color: black;
    background: #9BCBEB;
    display: inline-block; /* Make it inline-block for centering */
    width: 100%;
    text-align: center;
    margin: 0 auto; /* Center the div */
}

.FabricItemContainer {
    border: solid 4px black;
    vertical-align: top; /* Align text to the top */
    background: #aaa;
    width: 25%;
}

.FabricHeader {
    padding-left: 5px;
    font-weight: bold; /* Makes the heading bold */
    min-width: 95px; /* Ensures consistent width for headings */
    display: inline-block; /* Inline block for heading */
}

.FabricData {
    margin-right: 20px; /* Space between data entries */
    color: #333; /* Dark gray for better readability */
}

.FabricImage {
    width: 100%;
    aspect-ratio: 2/1;
    object-fit: cover;
}