<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <link rel="icon" href="static/thread_icon.png">
    
    <link rel="stylesheet" href="/static/CSS/Header.css">
    <link rel="stylesheet" href="/static/CSS/stats.css">

    <script type="text/javascript" src="static\JavaScript\jquery.js"></script>
    <script type="text/javascript" src="static\JavaScript\stats.js"></script>
    <title>Inventory</title>
</head>
<body>


    <div class="header">
        <h1>
            <a class="reference" href="add_inventory">Add Fabric</a> -
            <a class="reference" href="view_inventory">View Fabric</a> -
            <a class="reference" href="view_inventory">Create Project</a> -
            <a class="reference" id="CurrentPage" href="stats">View Statistics</a>
        </h1>
    </div>

    <div>
        <div id="statistics">Data loading</div>
    </div>

</body>
</html>