<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <link rel="icon" href="static/thread_icon.png">
    
    <link rel="stylesheet" href="/static/CSS/Header.css">
    <link rel="stylesheet" href="/static/CSS/view_inventory.css">
    <link rel="stylesheet" href="/static/CSS/dropdown.css">
    <title>Inventory</title>
</head>
<body>


    <div class="header">
        <h1>
            <a class="reference" href="add_inventory">Add Fabric</a> -
            <a class="reference" id="CurrentPage" href="view_inventory">View Fabric</a> -
            <a class="reference" href="view_inventory">Create Project</a>
        </h1>
    </div>

    <div class="search_div">
        <input type="text" placeholder="Search Fabric" id="SearchBar">
        <button onclick="searchFabric()">Apply Settings</button>


        <span>
            <label for="SortFabric">Sort By:</label>

            <select name="SortFabric" id="SortFabric">
                <option value="fabric_name">Fabric Name</option>
                <option value="material">Material</option>
                <option value="style">Style</option>
                <option value="collection">Collection</option>
                <option value="designer">Designer</option>
                <option value="location">Location</option>
                <option value="width">Width</option>
                <option value="yardage">Yardage</option>
                <option value="area">Area</option>
                <option value="color">Color?</option>
                <option value="tag">Tag?</option>
            </select>

            <button id="SortButton" type="button" class="arrow-button" onclick="flip_sort()">
                ↑
            </button>
        </span>
    </div>
    <table class="option-table">
        <tr>

            <td class="option-td">
                <div id="materialOptions" class="dropdown-check-list" tabindex="100">
                    <span class="anchor">Select Material</span>

                    <div class="items">
                        <input type="checkbox" id="material_option_1" name="material" value="Cotton">
                        <label for="material_option_1">Cotton</label><br>
                        <input type="checkbox" id="material_option_2" name="material" value="Flannel">
                        <label for="material_option_2">Flannel</label><br>
                        <input type="checkbox" id="material_option_3" name="material" value="Fleece">
                        <label for="material_option_3">Fleece</label><br>
                        <input type="checkbox" id="material_option_4" name="material" value="Wool">
                        <label for="material_option_4">Wool</label><br>
                        <input type="checkbox" id="material_option_5" name="material" value="Canvas">
                        <label for="material_option_5">Canvas</label><br>
                    </div>
                </div>
            </td>
            <td class="option-td">
                <div id="cutOptions" class="dropdown-check-list" tabindex="100">
                    <span class="anchor">Select Cut</span>

                    <div class="items">
                        <input type="checkbox" id="cut_option_1" name="cut" value="Uncut">
                        <label for="cut_option_1">Uncut</label><br>
                        <input type="checkbox" id="cut_option_2" name="cut" value="Partially">
                        <label for="cut_option_2">Partially</label><br>
                        <input type="checkbox" id="cut_option_3" name="cut" value="Scrappy">
                        <label for="cut_option_3">Scrappy</label><br>
                        <input type="checkbox" id="cut_option_4" name="cut" value="Multiple Pieces">
                        <label for="cut_option_4">Multiple Pieces</label><br>
                    </div>
                </div>
            </td>
            <td class="option-td">
                <div id="styleOptions" class="dropdown-check-list" tabindex="100">
                    <span class="anchor">Select Style</span>

                    <div class="items">
                        <input type="checkbox" id="style_option_1" name="style" value="No Style">
                        <label for="style_option_1">No Style</label><br>
                        <input type="checkbox" id="style_option_2" name="style" value="Flat Fold">
                        <label for="style_option_2">Flat Fold</label><br>
                        <input type="checkbox" id="style_option_3" name="style" value="Board: Large">
                        <label for="style_option_3">Board: Large</label><br>
                        <input type="checkbox" id="style_option_4" name="style" value="Board: Small">
                        <label for="style_option_4">Board: Small</label><br>
                        <input type="checkbox" id="style_option_5" name="style" value="Fat Quarter">
                        <label for="style_option_5">Fat Quarter</label><br>
                        <input type="checkbox" id="style_option_6" name="style" value="Apron">
                        <label for="style_option_6">Apron</label><br>
                        <input type="checkbox" id="style_option_7" name="style" value="Panel">
                        <label for="style_option_7">Panel</label><br>
                        <input type="checkbox" id="style_option_8" name="style" value="Kit">
                        <label for="style_option_8">Kit</label><br>
                        <input type="checkbox" id="style_option_9" name="style" value="Charm Pack">
                        <label for="style_option_9">Charm Pack</label><br>
                        <input type="checkbox" id="style_option_10" name="style" value="Bundle">
                        <label for="style_option_10">Bundle</label>
                    </div>
                </div>
            </td>
            <td class="option-td" align="center">
                Width<br />
                <input type="text" id="MinWidth" placeholder="Minimun Width" />
                -
                <input type="text" id="MaxWidth" placeholder="Maximum Width" />

            </td>
            <td class="option-td" align="center">
                Yardage<br />
                <input type="text" id="MinYardage" placeholder="Minimun Yardage" />
                -
                <input type="text" id="MaxYardage" placeholder="Maximum Yardage" />

            </td>

        </tr>
    </table>

    <div class="top-nav">
        <span>Fabric in search <span id="numberOfFabric">N/A</span></span>
        <span class="page-buttons">
            <button type="button" onclick="prevPage()">Prev</button>
            <span id="PageNumbersTop">Page Failed To Load</span>
            <button type="button" onclick="nextPage()">Next</button>
        </span>
    </div>

    <table id="FabricTable" class="basic-table"></table>
    
    <div class="bottom-nav">
        <button type="button" onclick="prevPage()">Prev</button>
        <span id="PageNumbersBottom">Page Failed To Load</span>
        <button type="button" onclick="nextPage()">Next</button>
    </div>

    <script type="text/javascript" src="static\JavaScript\jquery.js"></script>
    <script type="text/javascript" src="static\JavaScript\view_inventory.js"></script>
    <script type="text/javascript" src="static\JavaScript\dropdown.js"></script>
</body>
</html>